.drag-drop{
    background-color: #f5e13a;
}
.dz-default.dz-message {
    width: 100% !important;
    height: 100% !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    top: 11% !important;
    left: 0 !important;
    text-align: center !important;
}