<!doctype html>
<html lang="es-Mx" ng-app="front">
<head>
    <base href="/"/>
    <title>Disfución Cráneo Vertebro Mandibular</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <!-- start:meta info -->
    <meta name="keywords" content="neuralgias del trigemino, paralisis de bell, chasquido articular, problemas de articulacion, vertigo postular, migraña,cafelea tensional, hernias discales, lumbalgias, cervicalgias, articulaciones, rehabilitacion, masajes terapeuticos, inhaloterapia, terapia activa, terapia laser, terapia ultrasonido, fisioterapias, ortopedia manual, ortodoncia, ortopedia maxilar, cirugia bucal, rehabilitacion bucal, blanqueamiento dental, protesis esteticas, villahermosa, tabasco, mexico" />
    <meta name="description" content="Especialistas en Problemas de articulacion, migraña, Parlisis de bell, lumbalgias, ortopedia manual y odontología, visitanos en Villahermosa Tabasco">
    <meta name="author" content="www.c-developers.com">
    <meta name="robots" content="follow, index">
    <meta name="googlebot" content="follow, index">
    <meta name="google" content="notranslate" />
    <meta name="copyright" content="2014 www.c-develpers.com Todos los derechos reservados.">
    <meta name="application-name" content="Chontal Developers" />
    <meta name="revisit-after" content="20 day" />
    <link ng-controller="IndexController" rel="canonical" href="http://{{$location.host()+$location.path()}}" />
    <!--Meta Facebook -->
    <meta property="og:title" content="Difución Cráneo Vertebro Mandibular"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<?=$this->url->get('front/src/images/facebook/1.jpg')?>" />
    <meta property="og:image" content="<?=$this->url->get('front/src/images/facebook/2.jpg')?>" />
    <meta property="og:image" content="<?=$this->url->get('front/src/images/facebook/3.jpg')?>" />
    <meta property="og:image" content="<?=$this->url->get('front/src/images/facebook/4.jpg')?>" />
    <meta ng-controller="IndexController" property="og:url" content="http://{{$location.host()+$location.path()}}"/>
    <meta property="og:description" content="Especialistas en Problemas de articulacion, migraña, Parlisis de bell, lumbalgias, ortopedia manual y odontología, visitanos en Villahermosa Tabasco"/>
    <meta ng-controller="IndexController"  property="og:site_name" content="http://{{$location.host()}}"/>
    <meta property="fb:app_id" content="148891048775680" />
    <!--Twitter-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Difución Cráneo Vertebro Mandibular" />
    <meta name="twitter:description" content="Especialistas en Problemas de articulacion, migraña, Parlisis de bell, lumbalgias, ortopedia manual y odontología, visitanos en Villahermosa Tabasco" />
    <meta name="twitter:image" content="<?=$this->url->get('front/src/images/facebook/1.jpg')?>" />
    <meta name="twitter:image" content="<?=$this->url->get('front/src/images/facebook/2.jpg')?>" />
    <meta name="twitter:image" content="<?=$this->url->get('front/src/images/facebook/3.jpg')?>" />
    <meta name="twitter:image" content="<?=$this->url->get('front/src/images/facebook/4.jpg')?>" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta name="google-site-verification" content="olHwboO51N4vl1Cp-7-N6YRgJiLKwMZzufc64lys2cs" />
    <?php echo $this->assets->outputCss('IndexCss')?>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55ad88f90015c7ce&async=1" async="1"></script>
</head>
<body class="">
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53505515-18', { 'cookieDomain': 'none' });


</script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '148891048775680',
            xfbml      : true,
            version    : 'v2.4'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="page-wrapper">
<header id="header" class="nav-down header3">
<div id="panel">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <ul class="info-left reset-list">
                    <li><span class="icon-location"></span><p>Ave. 27 de Feb. No. 906 Consultorio 101 Altos</p></li>
                    <li><span class="icon-phone"></span><p>(993)3142781</p></li>
                    <li><span class="icon-envelope2"></span><p>dr_salazart@hotmail.com</p></li>
                    <li><span class="icon-mobile"></span><p>Urgencias las 24 hrs 9933200551</p></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="info-right reset-list">
                    <li class="ico-twitter animation">
                        <a href="#">
                            <span class="icon-twitter"></span>
                        </a>
                    </li>
                    <li class="ico-facebook animation">
                        <a target="_blank" href="https://www.facebook.com/pages/Disfuncion-Craneo-Vertebro-Mandibular-Y-Dolor-Facial/360143117442091?ref=hl">
                            <span class="icon-facebook"></span>
                        </a>
                    </li>
                    <li class="ico-instagram animation">
                        <a href="#">
                            <span class="icon-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="slide">
    <div class="container relative">
        <a href="#" class="btn-slide"><span class="icon-angle-up"></span></a>
    </div>
</div><!-- end sliding panel -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="relative onlyh3">
                <div class="logo-container hasinfocard">
                    <h1 id="logo">
                        <a href="index.html">
                            <div class="logo-default">
                                <img src="/front/src/images/logo-2.png" alt="Doctores en villahermosa" class="img-responsive" height="41" />
                            </div>
                        </a>
                    </h1><!-- end logo -->
                    <div id="infocard">
                        <div class="row">
                            <div class="col-sm-5 center">
                                <img src="/front/src/images/info-logo.png" alt="" class="mbottom20" width="43" height="70" />
                                <h2>Centro de Ortopedia y Traumatología de Tabasco</h2>
                            </div>
                            <div class="col-sm-7">
                                <p><span class="icon-mobile"></span>Urgencias las 24hrs 993-320-0551</p>
                                <p><span class="icon-phone"></span>(993)315 33 33</p>
                                <p class="mbottom10"><span class="icon-envelope2 mright5"></span>Email: dr_salazart@hotmail.com</p>
                                <p>CERACOM COOT</p>
                                <p class="mbottom30">Consultorio 101</p>
                                <ul class="info-social center reset-list">
                                    <li class="width100 mbottom10">
                                        <p>Redes sociales</p>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.facebook.com/pages/Disfuncion-Craneo-Vertebro-Mandibular-Y-Dolor-Facial/360143117442091?ref=hl">
                                            <span class="icon-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="icon-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="icon-dribbble"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="icon-pinterest"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- end infocard -->
                </div><!-- end logo-container -->
                <!-- Responsive Menu -->
                <div class="zn-res-menuwrapper">
                    <a class="zn-res-trigger" href="#"></a>
                </div>
                <div id="main-menu">
                    <ul ng-controller="IndexController">
                        <li class="has-sub" ng-class="{'active':$location.path()=='/'}">
                            <a href="<?=$this->url->get()?>">Inicio</a>
                        </li>
                        <li class="has-sub mega" ng-class="{'active': $location.path()=='/neuralgias-del-trigemino'||$location.path()=='/paralisis-de-bell'||$location.path()=='/chasquido-articular' || $location.path()=='/articulacion-temporomandibular'|| $location.path()=='/vertigo-postular' || $location.path()=='/migrana' || $location.path()=='/cefalea-tensional'}">
                            <a href="#">Disfución Cráneo Vertebro Mandibular</a>
                            <ul class="mega-menu container clearfix">
                                <li class="col-sm-4">
                                    <a href="javascript:void()" class="mega-title">Servicios</a>
                                    <ul class="sub-menu clearfix">
                                        <li ng-class="{'active': $location.path()=='/neuralgias-del-trigemino'}">
                                            <a href="<?= $this->url->get('neuralgias-del-trigemino');?>">Neuralgias del Trigémino</a>
                                            <span class="new-item4">Nuevo</span>
                                        </li>
                                        <li ng-class="{'active': $location.path()=='/paralisis-de-bell'}">
                                            <a href="<?= $this->url->get('paralisis-de-bell')?>">Parálisis de Bell</a>
                                        </li>
                                        <li ng-class="{'active': $location.path()=='/chasquido-articular'}">
                                            <a href="<?= $this->url->get('chasquido-articular')?>">Chasquido Articular</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="col-sm-4">
                                    <a href="javascript:void()" class="mega-title">Servicios</a>
                                    <ul class="sub-menu clearfix">
                                        <li ng-class="{'active':$location.path()=='/articulacion-temporomandibular'}">
                                            <a href="/articulacion-temporomandibular">Problemas de Articulación Temporomandibular</a>
                                        </li>
                                        <li ng-class="{'active':$location.path()=='/vertigo-postular'}">
                                            <a href="/vertigo-postular">vértigo postural</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="col-sm-4">
                                    <a href="javascript:void()" class="mega-title">Servicios</a>
                                    <ul class="sub-menu clearfix">
                                        <li ng-class="{'active':$location.path()=='/migrana'}">
                                            <a href="<?=$this->url->get('migrana');?>">Migraña</a>
                                        </li>
                                        <li ng-class="{'active':$location.path()=='/cefalea-tensional'}">
                                            <a href="<?=$this->url->get('/cefalea-tensional')?>">Cefalea Tensional</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub" ng-class="{'active':$location.path()=='/hernias-discales'||$location.path()=='/lumbalgia' || $location.path()=='/cervicalgia' || $location.path()=='/dolor-articular'}">
                            <a href="#">Ortopedia Manual</a>
                            <ul>
                                <li ng-class="{'active':$location.path()=='/hernias-discales'}">
                                    <a href="<?=$this->url->get('hernias-discales')?>">Tratamiento Hernias Discales</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/lumbalgia'}">
                                    <a href="<?=$this->url->get('lumbalgia')?>">Lumbalgias</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/cervicalgia'}">
                                    <a href="<?=$this->url->get('cervicalgia')?>">Cervicalgias</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/dolor-articular'}">
                                    <a href="<?=$this->url->get('dolor-articular')?>">Dolores de Articulaciones</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub" ng-class="{'active':$location.path()=='/rehabilitacion'||$location.path()=='/masajes-terapeuticos-relajantes' || $location.path()=='/inhaloterapia' || $location.path()=='/terapia-activa' || $location.path()=='/terapia-laser'||$location.path()=='/terapia-ultrasonido'}">
                            <a href="#">Fisioterapias</a>
                            <ul>
                                <li ng-class="{'active':$location.path()=='/rehabilitacion'}">
                                    <a href="<?=$this->url->get('rehabilitacion')?>">Rehabilitacion</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/masajes-terapeuticos-relajantes'}">
                                    <a href="<?=$this->url->get('masajes-terapeuticos-relajantes')?>">Masajes Terapeuticos Relajantes</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/inhaloterapia'}">
                                    <a href="<?=$this->url->get('inhaloterapia')?>">Inhaloterapia</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/terapia-activa'}">
                                    <a href="<?=$this->url->get('terapia-activa')?>">Terapia Activa</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/terapia-laser'}">
                                    <a href="<?=$this->url->get('terapia-laser')?>">Terapia Laser</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/terapia-ultrasonido'}">
                                    <a href="<?=$this->url->get('terapia-ultrasonido')?>">Terapia Ultrasonido</a>
                                </li>
                                <!--li>
                                    <a href="javascript:void()">Content Terapia</a>
                                </li-->
                            </ul>
                        </li>
                        <li class="has-sub" ng-class="{'active':$location.path()=='/endodoncia' || $location.path()=='/exodoncia' || $location.path()=='/ortodoncia' || $location.path()=='/ortopedia-maxilar' || $location.path()=='/cirugia-bucal' || $location.path()=='/rehabilitacion-bucal' || $location.path()=='/blanqueamiento-dental-laser' || $location.path()=='/protesis-esteticas'}">
                            <a href="#">Odontología</a>
                            <ul>
                                <!--li ng-class="{'active':$location.path()=='/endodoncia'}">
                                    <a href="//$this->url->get('endodoncia')">Endodoncia</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/exodoncia'}">
                                    <a href="//$this->url->get('exodoncia')">Exodoncia</a>
                                </li--->
                                <li ng-class="{'active':$location.path()=='/ortodoncia'}">
                                    <a href="<?=$this->url->get('ortodoncia')?>">Ortodoncia Labio y paladar hendido</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/ortopedia-maxilar'}">
                                    <a href="<?=$this->url->get('ortopedia-maxilar')?>">Ortopedia Maxilar</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/cirugia-bucal'}">
                                    <a href="<?=$this->url->get('cirugia-bucal')?>">Cirugía Bucal</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/rehabilitacion-bucal'}">
                                    <a href="<?=$this->url->get('rehabilitacion-bucal')?>">Rehabilitación Bucal</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/blanqueamiento-dental-laser'}">
                                    <a href="<?=$this->url->get('blanqueamiento-dental-laser')?>">Banqueamiento Dental Láser</a>
                                </li>
                                <li ng-class="{'active':$location.path()=='/protesis-esteticas'}">
                                    <a href="<?=$this->url->get('protesis-esteticas')?>">Prótesis Estéticas</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub " ng-class="{'active': $location.path()=='/contactanos' || $location.path()=='/galeria}'}">
                            <a href="#">Otros</a>
                            <ul>
                                <li>
                                    <a href="/contactanos">Contactanos</a>
                                </li>
                                <li>
                                    <a href="javascript:void()">Galería</a>
                                </li>
                                <li>
                                    <a href="javascript:void()">Nosotros</a>
                                <li>
                                <li>
                                    <a href="javascript:void()">Misión Y Visión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- end main menu -->
            </div>
        </div>
    </div>
</div>
</header>

<div ng-view></div>
<?php //echo $this->getContent();?>
</div>
<footer class="footer-style2">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 text-center">
                <a href="/">
                    <img src="/front/src/images/logo.png" alt="" class="default img-responsive inline-block" style="width: 50%;"/>
                </a>
                <p class="f300">Difución Cráneo Vertebro Mandibular, Ortopedia Manual, Fisioterapias, Odontología</p>
                <div class="social mtop25 mbottom30 clearfix">
                    <ul class="reset-list">
                        <li class="ico-twitter animation">
                            <a href="#">
                                <span class="icon-twitter"></span>
                            </a>
                        </li>
                        <li class="ico-facebook animation">
                            <a target="_blank" href="https://www.facebook.com/pages/Disfuncion-Craneo-Vertebro-Mandibular-Y-Dolor-Facial/360143117442091?ref=hl">
                                <span class="icon-facebook"></span>
                            </a>
                        </li>
                        <li class="ico-google animation">
                            <a href="#">
                                <span class="icon-googleplus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 mbottom30">
                <h3>Acerca de nosotros</h3>
                <ul class="menu-list reset-list">
                    <li>
                        <span>Experiencia</span>
                    </li>
                    <li>
                        <span>Amabilidad</span>
                    </li>
                    <li>
                        <span>Humanismo</span>
                    </li>
                    <li>
                        <span>Calidad</span>
                    </li>
                    <li>
                        <span>Honestidad</span>
                    </li>
                    <li>
                        <span>Responsabilidad</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 mbottom30">
                <h3>Enlaces</h3>
                <ul class="menu-list reset-list">
                    <li>
                        <a href="/contactanos">Contáctanos</a>
                    </li>
                    <li>
                        <a href="javascript:void()">Misión-Visión</a>
                    </li>
                    <li>
                        <a href="javascript:void()">Acerca de nosotros</a>
                    </li>
                    <li>
                        <a href="javascript:void()">Galería</a>
                    </li>
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3>Boletín, Suscríbete.</h3>
                <div id="subscribe" class="footer-subscribe center mbottom10">
                    <div>
                        <input readonly type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Escriba su email" required>
                        <button class=" btn-sm btn-small" name="subscribe" ><span class="icon-envelope"></span></button>
                    </div>
                    <div id="notification_container"></div>
                </div>
                <p class="f300">Al suscribirse a nuestra lista de correo usted recibirá las últimas noticias de nosotros.</p>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <p class="copyright">©2015 Diseñado por <strong><a href="http://c-developers.com" target="_blank">Chontal Developers</a></strong>. Todos los derechos reservados</p>
                </div>
            </div>
        </div>
    </div><!-- end bottom-footer -->
</footer><!-- end footer -->

<p id="back-top">
    <a href="#top"><span class="icon-angle-up"></span></a>
</p>
<div addthis-toolbox class="addthis_sharing_toolbox"></div>
<?php echo $this->assets->outputJs("AngularJs");?>
<?php echo $this->assets->outputJs("IndexJs");?>
</body>
</html>